{% extends "base.html" %}
{% block content %}

<div class="chat-content">
    {% if request.user.is_authenticated %}
        {% for message in messages %}
        <div class="chat-box">
            <small class="color-gray">{{ message.created_at }} {{ message.author.first_name }}:</small>
            <br>
            <i>{{ message.text }}</i>
        </div>
        {% endfor %}
</div>

<div class="sand-box">
    <form onsubmit="sendMessage(); return false" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
            <label class="mdl-textfield__label" for="messageField">Text...</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Send
        </button>
    </form>
</div>

{% else %}
    <h1>You are not logged in</h1>
    <p>
        <a href="/login/">Login</a> or <a href="/register/">Register</a>
    </p>

{% endif %}
{% endblock %}
